
<div class="history-slider"
     (mouseenter)="hovering = true"
     (mouseleave)="hovering = false"
     [class.open]="hovering">
  <div class="history-header">İşlemler</div>
  <ul class="history-list">
    <li *ngFor="let item of history">{{ item }}</li>
  </ul>
</div>


<div class="calculator">
  <div class="display">
    <div class="expression">{{ current }}</div>
    <div class="result">{{ result | doubleDigit }}</div>
  </div>


  <app-calculator-buttons (buttonPressed)="pressKey($event)"></app-calculator-buttons>

</div>
